# SPDX-FileCopyrightText: 2021 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: Apache-2.0

name: Release

on:
  workflow_call:
    inputs:
      meson-provides:
        description: 'The package being provided.'
        type: string
        default: 'none'

jobs:
  release:
    permissions:
      contents: write
      packages: write
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v6 # v3.5.3

      - name: Generate Release Bundle
        id: bundle
        uses: xmidt-org/release-builder-action@main #73b772198c6b8c6ea348baa2c4f43c5c7fcc16e6 # v3.0.2
        with:
          gh-token: ${{ github.token }}
          meson-provides: ${{ inputs.meson-provides }}
          
      - name: Debug Outputs
        run: |
          echo "Release Name: ${{ steps.bundle.outputs.release-name }}"
          echo "Release Tag: ${{ steps.bundle.outputs.release-tag }}"
          echo "Release Body File: ${{ steps.bundle.outputs.release-body-file }}"
          echo "Artifact Dir: ${{ steps.bundle.outputs.artifact-dir }}"
  
      - name: Upload Release
        uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e # v1.12.0
        with:
          name: ${{ steps.bundle.outputs.release-name }}
          tag: ${{ steps.bundle.outputs.release-tag }}
          draft: false
          prerelease: false
          bodyFile: ${{ steps.bundle.outputs.release-body-file }}
          artifacts: "${{ steps.bundle.outputs.artifact-dir }}/*"
          token: ${{ github.token }}
