# SPDX-FileCopyrightText: 2023 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: Apache-2.0
---
name: 'License Check'

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  license_check:
    name: License Checking
    runs-on: [ ubuntu-latest ]
    steps: 
      - name: Checkout the code
        uses: actions/checkout@v6 # v3.4.0

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v5
